.cell {
    opacity: 0;
    /* transition: 1s ease-in opacity; */
} 

.cell.large {
    height: 5px;
    width: 5px;
}

.cell.extraLarge {
    height: 1px;
    width: 1px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}